html{
  position: relative;
  min-height: 100%; /*make footer useable */
}

div{
    padding: 70px 0;
    text-align: center;
}

.textBox{
  padding: 0 0;
}

.text{
    text-indent: 50px;
  letter-spacing: 3px;
}

.input{
  margin-left: 3%;
}

.inputBar{
  width:20%;
  border-radius:1%;
  margin-bottom: 0.2%;
  padding: 1em 2em;
}


hr{
    border: none;
    border-top: dashed 0.1rem ;
}

.button, i {
    background-color: white; 
    color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

  .button{
    border: 2px solid #e7e7e7;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius:1%;
  }
  
.button:hover {background-color: #e7e7e7;}

i:hover{color:#A9A9A9;}

.hasBackground{
    background: #466368;
    background: -webkit-linear-gradient(#FFFFFF, #A9A9A9);
    background:    -moz-linear-gradient(#FFFFFF, #A9A9A9);
    background:         linear-gradient(#FFFFFF, #A9A9A9);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    overflow: hidden;
}


.fa-home, .fa-bars, .dropDown{
  position:absolute;
  left:0;
  font-size:1.7rem;
}

.fa-home{
  margin-top: 1%;
  margin-left:3.2%;
}

.fa-bars, .dropDown{
  margin-top:5%;
  margin-left:3%
}

.dropDown{
  padding: 0 0;
  text-align: unset;
  position: relative;
  display: inline-block;
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropDownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropDownContent a:hover {background-color: #f1f1f1}

.dropDown:hover .dropDownContent {
  display: block;
}
