div{
    padding: 4.375rem 0;
    text-align: center;
}

.input{
  margin-left: 3%;
}

.inputBar{
  width:20%;
  border-radius:1%;
  margin-bottom: 0.2%;
  padding: 1em 2em;
}

hr{
    border: none;
    border-top: dashed 0.1rem ;
}

.button, i {
    background-color: white; 
    color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button{
    border: 0.125rem solid #e7e7e7;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    border-radius:1%;
  }
  
.button:hover {background-color: #e7e7e7;}

i:hover{color:#A9A9A9;}
